<header class="header tablet:py-1">
	<div class="max-w-[1400px] mx-auto px-4 min-h-14 grid gap-4 items-center grid-cols-[55px_auto_30px] tablet:min-h-[72px] tablet:grid-cols-[85px_1fr_260px]  tablet:gap-8">
		<a class="relative z-[2]" href="#">
			<img class="max-w-full" src="@img/logo.png" alt="qonto">
		</a>
		<div class="menu">
			<nav class="menu-body">
				<ul class="menu-list">
					<li><a href="#" class="menu-link">Solutions</a></li>
					<li><a href="#" class="menu-link">Product</a></li>
					<li><a href="#" class="menu-link">Resources</a></li>
					<li><a href="#" class="menu-link">Pricing</a></li>
				</ul>
			</nav>
		</div>
		<div class="flex justify-self-end items-center gap-2 laptop:gap-[30px] relative z-[2]">
			<a class="text-white text-xs mobile:text-[17px] leading-snug" href="#">Sign in</a>
			<a class="button px-2 tablet:py-3 tablet:py-3 tablet:px-6 " href="#">Open an account</a>
		</div>
		<button class="icon-menu" onclick="menuInit()" type="button" aria-label="open menu">
			<span></span>
		</button>
	</div>
</header>