:root {
   // Colors
   --medium-gray: #646464;
   --graphite: #383838;
   --brand-blue: #263672;
   --white: #ffffff;
   --light-gray: #cecece;
   --medium-grey: #646464;
   --black: #141414;
   --yellow: #e3c163;

   // Fonts
   --f-family-01: "Roboto";
   --f-family-02: "Oswald";

   // Borders
   --main-border: 1px solid var(--medium-grey);
   --main-radius: 30px;
   --button-radius: 30px;

   // Sizes
   --menu-size-16: 16px;
   --menu-size-24: 24px;
}

// Media ========================================================================================================================================================
